@font-face {
   font-family: "PF Agora Sans Pro";
   src: url("../fonts/PFAgoraSansPro-Bold.eot");
   src: local("☺"), url("../fonts/PFAgoraSansPro-Bold.woff") format("woff"),
      url("../fonts/PFAgoraSansPro-Bold.ttf") format("truetype"), url("../fonts/PFAgoraSansPro-Bold.svg") format("svg");
   font-weight: 700;
   font-style: normal;
}
@font-face {
   font-family: "PF Agora Sans Pro";
   src: url("../fonts/PFAgoraSansPro-Light.eot");
   src: local("☺"), url("../fonts/PFAgoraSansPro-Light.woff") format("woff"),
      url("../fonts/PFAgoraSansPro-Light.ttf") format("truetype"),
      url("../fonts/PFAgoraSansPro-Light.svg") format("svg");
   font-weight: 300;
   font-style: normal;
}
@font-face {
   font-family: "PF Agora Sans Pro";
   src: url("../fonts/PFAgoraSansPro-Thin.eot");
   src: local("☺"), url("../fonts/PFAgoraSansPro-Thin.woff") format("woff"),
      url("../fonts/PFAgoraSansPro-Thin.ttf") format("truetype"), url("../fonts/PFAgoraSansPro-Thin.svg") format("svg");
   font-weight: 100;
   font-style: normal;
}
@font-face {
   font-family: "PF Agora Sans Pro";
   src: url("../fonts/PFAgoraSansPro-Regular.eot");
   src: local("☺"), url("../fonts/PFAgoraSansPro-Regular.woff") format("woff"),
      url("../fonts/PFAgoraSansPro-Regular.ttf") format("truetype"),
      url("../fonts/PFAgoraSansPro-Regular.svg") format("svg");
   font-weight: 400;
   font-style: normal;
}

@import "_nullstyle";

$sz_71: 71px;
$sz_44: 44px;
$sz_31: 31px;
$sz_24: 24px;
$sz_19: 19px;
$sz_18: 18px;

$color_f0d: #100f0d;
$color_dbb: #bebdbb;
$color_f51: #4f4f51;
$color_fff: #ffffff;
$color_263: #656263;
//$color_baa: #adabaa;
$color_baa: #656263;
$color_b48: #562b48;

body {
   font-family: "PF Agora Sans Pro";
   color: $color_f0d;
   font-size: $sz_24;
   font-weight: 400;
   font-style: normal;
   letter-spacing: normal;
   line-height: normal;
   background-color: #fff;
   & a {
      color: $color_baa;
      transition: 0.5s;
      &:hover {
         color: #333;
      }
   }
}
.page {
   padding: 50px 0px 50px 0px;
   & ul li {
      list-style-type: disc;
      list-style-position: inside;
   }
   & ol li {
      list-style-position: inside;
   }
   & li {
      padding: 10px 0px 10px 0px;
   }
   & blockquote {
      font-style: italic;
      font-size: 20px;
      color: rgb(80, 80, 80);
   }
}
p {
   line-height: 38px;
}
nav a {
   transition: none;

   color: #4f4f51;
   &:hover {
      color: rgb(85, 12, 12);
   }
}
.aligncenter {
   display: block;
   margin: 20px auto;
}
.alignleft {
   float: left;
   margin: 15px;
}
.alignright {
   float: right;
   margin: 15px;
}
.current-menu-item a {
   font-weight: 600;
}

.container {
   width: 100%;
   max-width: 1630px;
   margin-left: auto;
   margin-right: auto;
}

.header-dt {
   background-color: $color_fff;
   &__blok {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 177px;
   }
   &__logo-01 {
      margin-bottom: -65px;
      z-index: 10;
   }

   &__logo-title {
      margin-left: 50px;
   }

   &__text {
      text-transform: uppercase;
      max-width: 240px;
      font-size: $sz_19;
      color: $color_b48;
   }
}
.fix {
   position: fixed;
   z-index: 100;
   top: 0;
   width: 100%;
   text-align: center;
   background-image: url("../img/m-menu-bg.svg");
   background-position: center bottom;
   background-repeat: no-repeat;
   background-size: cover;

   & ul {
      text-align: center;
   }
}
.footer__nav {
   & ul li {
      list-style-type: none;
      padding: 0;
   }
}

.main-menu {
   position: relative;
   z-index: 3;
   height: 56px;
   background-image: url("../img/m-menu-bg.svg");
   background-position: center bottom;
   background-repeat: no-repeat;
   background-size: cover;
   & ul li {
      list-style-type: none;
      padding: 0;
   }

   & li {
      text-transform: uppercase;
      margin: 0 15px 0 15px;
      font-size: $sz_19;
      color: $color_f51;
      line-height: 50px;
      position: relative;
   }
}
#menu-menu-top {
   display: flex;
   align-items: center;
   justify-content: center;
}
.menu-item-has-children:hover > .sub-menu {
   visibility: visible;
}
.sub-menu {
   visibility: hidden;
   width: 250px;
   position: absolute;
   top: 40px;
   left: 0;
   z-index: 100;
   background: #fff;
   padding: 10px 0;
   & > .main-menu ul {
      display: block;
   }
   & li {
      padding: 5px;
   }
   & li:hover {
      background-color: #dddcdb;
   }
   &:hover {
      visibility: visible;
   }
   & li::before {
      content: "";
      margin-right: 10px;
      display: inline-block;
      width: 1px !important;
      height: 12px !important;
      // border-radius: 50% !important;
      // margin: 3px 10px 0 3px;
      background: #656263;
      // vertical-align: top;
   }
}
.intro {
   position: relative;
   height: 901px;
   margin-top: -56px;
   display: flex;
   align-items: flex-end;
   //background-image: url("../img/intro-img.png");
   background-position: center top;
   background-repeat: no-repeat;
   background-size: cover;

   & video {
      position: absolute;
      top: 0px;
      left: 0;
      width: 100%;
      // height: 899px;
      display: block;
      object-fit: cover;
   }
   &__bottom {
      position: absolute;
      bottom: 0;
      // z-index: 3;
      width: 100%;
      height: 160px;
      background-image: url("../img/intro-bottom2.svg");
      background-position: center top;
      background-repeat: no-repeat;
      background-size: cover;
   }
}
.about {
   height: 990px;
   background-color: #edda80;
   text-align: right;
   position: relative;

   &__title {
      text-transform: uppercase;
      font-size: $sz_71;
      font-weight: 300;
      color: $color_baa;
      margin-right: 100px;
      padding-top: 30px;
   }

   &__item {
      margin-right: 100px;
      font-family: "Arial";
      display: flex;
      justify-content: flex-end;
      & a {
         color: $color_f0d;
      }
   }
   &__item p {
      margin-top: 40px;
      max-width: 565px;
      text-align: left;
   }
   &__img {
      margin-top: 70px;
      height: 630px;
      background-image: url("../img/about-img.png");
      background-position: center top;
      background-repeat: no-repeat;
      //background-size: cover;
      //background-size: contain;
   }

   &__bg {
      position: absolute;
      bottom: 0;
      //z-index: 3;
      width: 100%;
      height: 160px;
      background-image: url("../img/about-bg.svg");
      background-position: center top;
      background-repeat: no-repeat;
      background-size: cover;
   }
}
.proects {
   text-align: center;

   &__title {
      text-transform: uppercase;
      font-size: $sz_71;
      font-weight: 300;
      color: $color_baa;
      margin-top: 50px;
   }
   &__items {
      display: flex;
      justify-content: space-around;
      //flex-wrap: wrap;
      & img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         transition: 0.3s;
         &:hover {
            transform: scale(1.05);
         }
      }
   }

   &__item {
      padding: 10px;
      margin-top: 75px;
      width: 25%;
   }

   &__item-title {
      text-transform: uppercase;
      font-size: 38px;
      color: $color_f0d;
      font-weight: 100;
      margin-bottom: 40px;
   }
}
.about-fond {
   position: relative;
   height: 455px;
   margin-top: 200px;
   &__row {
      display: flex;
      justify-content: space-around;
      margin-top: 75px;
   }
   &__left {
      width: 50%;
      text-transform: uppercase;
      text-align: right;
      font-size: 60px;
      font-weight: 300;
      color: $color_baa;
      padding: 20px;
   }
   &__right {
      width: 50%;
      padding: 20px;
      margin-top: 20px;
   }
   &__bg {
      position: absolute;
      bottom: 0;
      //z-index: 3;
      width: 100%;
      height: 160px;
      background-image: url("../img/about-fond-bg2.svg");
      background-position: center top;
      background-repeat: no-repeat;
      background-size: cover;
   }
}
.news {
   background-color: #a6c1a6;
   text-align: center;
   position: relative;

   &__title {
      text-transform: uppercase;
      font-size: $sz_71;
      font-weight: 300;
      color: $color_baa;
      padding-top: 30px;
   }

   &__blok {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
   }

   &__item {
      width: 33%;
      padding: 10px;
   }

   &__item-title {
      text-transform: uppercase;
      font-size: $sz_31;
      font-weight: 700;
      color: $color_263;
      text-align: left;
      margin-top: 75px;
   }

   &__item-text {
      font-size: $sz_31;
      color: $color_f0d;
      font-weight: 300;
      margin-bottom: 50px;
      margin-top: 20px;
      text-align: left;
   }

   &__item-img img {
      width: 100%;
   }
   &__bg {
      position: absolute;
      bottom: 0;
      //z-index: 3;
      width: 100%;
      height: 160px;
      background-image: url("../img/news-bg2.svg");
      background-position: center top;
      background-repeat: no-repeat;
      background-size: cover;
   }
}
.media {
   background-color: #edda80;
   padding-bottom: 160px;

   &__title {
      text-transform: uppercase;
      font-size: $sz_71;
      font-weight: 300;
      color: $color_baa;
      padding-top: 30px;
   }

   &__row {
      position: relative;
      max-width: 1120px;
      margin-left: auto;
      margin-right: auto;
      padding: 20px;
   }

   &__text-blok {
      padding: 80px 100px 115px 80px;
      margin-right: 140px;
      //border: 1px solid #c6c29b;
      margin-top: 65px;
      //background-color: #dbdba7;
   }

   &__text-title {
      margin-bottom: 40px;
   }

   &__item {
      font-size: $sz_18;
      max-width: 380px;
   }

   &__player {
      position: absolute;
      right: 0;
      top: 285px;
      margin-right: 20px;
   }
}
.footer {
   &__nav {
      background-color: #d4d4d2;
      & ul {
         display: flex;
         align-items: center;
         justify-content: center;
      }
      & li {
         text-transform: uppercase;
         margin: 0 15px 0 15px;
         font-size: $sz_19;
         color: $color_f51;
         line-height: 50px;
      }
   }

   &__blok {
      background-image: url("../img/footer-bg.png");
      background-position: center top;
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 50px;
      padding-bottom: 40px;
   }
   &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
   }
   &__logo {
      margin-bottom: -60px;
      & img {
         width: 120px;
      }
   }

   &__title {
      & img {
         width: 450px;
         margin-left: 100px;
      }
   }

   &__social {
      width: 210px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      align-items: center;
      & img {
         height: 24px;
      }
   }

   &__copyright {
      background-color: #141211;
      color: #fff;
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      padding: 20px;
   }
}
.content {
   padding: 20px 40px 100px 40px;
   & h1 {
      text-transform: uppercase;
      font-size: $sz_71;
      font-weight: 300;
      color: $color_baa;

      text-align: center;
      margin-bottom: 50px;
      margin-top: 75px;
   }
}
//mobile

.header {
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 50;
   &__title {
      z-index: 10;
      & img {
         width: 260px;
      }
   }
   &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      z-index: 2;
   }
   &__body {
      position: relative;
      display: flex;
      justify-content: space-between;
      height: 80px;
      align-items: center;
   }

   &__logo {
      flex: 0 0 60px;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      z-index: 3;
      & img {
         max-width: 100%;
         display: block;
      }
   }

   &__burger {
      display: none;
   }

   &__list {
      //display: flex;
      position: relative;
      z-index: 2;
      & li {
         list-style: none;
         margin: 0 0 0 20px;
      }
      & a {
         text-transform: uppercase;
         font-size: 18px;
         text-decoration: none;
      }
   }

   &__link {
      // color: #fff;
      text-transform: uppercase;
      font-size: 18px;
      text-decoration: none;
   }
}
.content {
   padding: 100px 0 0 0;
   &__text {
      font-size: 18px;
      line-height: 25px;
      & p {
         margin-bottom: 25px;
      }
   }
}
#menu-menu-top-1 {
   display: flex;
   align-items: center;
   justify-content: center;
}
